
body {
    margin: 0 auto;
    max-width: 900px;
    width: 90%;
}

#box {
   border:2px solid whitesmoke;
    float:left;
    margin: 50px;
    width: 30%;
    height: 40%;
    padding: 1em;
}
span{
    color: rgb(8, 223, 8);
}

.shirt{
    color:#9b9797;
}
.button {
    background-color:rgb(58, 179, 219);
    border: none;
    color: white;
    padding: 10px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
   
  }
  .payment {
    
    border: none;
    
    padding: 10px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
   
  }